# Google Sheets Configuration (via Apps Script)
# Google Sheets Configuration
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_SHEET_ID=
GOOGLE_PRIVATE_URL=
SHEET_NORMAL_URL=

# Telegram Configuration (Optional)
TELEGRAM_BOT_TOKEN=your-telegram-bot-token
TELEGRAM_CHAT_ID=your-telegram-chat-id

# Gmail Configuration (Optional)
GMAIL_USER=your-email@gmail.com
GMAIL_APP_PASSWORD=your-app-password
notification_EMAIL=other@example.com

# WhatsApp Configuration (Optional)
WHATSAPP_TOKEN=your-whatsapp-token
WHATSAPP_PHONE_ID=1105985309256297
WHATSAPP_TO_NUMBER="34xxxxxxxxx"


# Cron Security 
CRON_SECRET=your-random-secret-string
